@import "fonts.css";
@font-face {
  font-family: 'pixel_operator';
  src: url('pixeloperator-webfont.woff2') format('woff2'),
       url('pixeloperator-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


*{
  --light   : #F4FBD0;
  --medium  : #68CF68;
  --dark    : #1E9178;
  --darker  : #05241F;
  font-family: 'pixel_operator';
}



body{
  background-color: var(--light);
}

.jr.card {
  border: 20px solid;
  border-radius: 2.4rem;
  border-image: url("../img/ui/border-0001.png") 12 round;
  image-rendering: pixelated;
}

.jr.button {
  border: 20px solid;
  border-radius: 1.2rem;
  background-color: var(--medium);
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  border-image: url("../img/ui/border-0004.png") 12 round;
}

.jr.button:hover {
  border: 20px solid;
  background-color: var(--medium);
  filter: brightness(130%);
  border-image: url("../img/ui/border-0004.png") 12 round;

  
}

.main-header{

}

.main-header nav{
  height: 4rem;
}

.hero{
}

.speakers ul{
  font-size: 1.5rem;
}

.speakers a{
  border: 20px solid;
  border-radius: 1.8rem;
  border-image: url("../img/ui/border-0001.png") 12 round;
  background-color: var(--medium);
}

.speakers a:hover{
  /* border: 20px solid; */
  /* border-radius: 1.8rem; */
  /* border-image: url("../img/ui/border-0001.png") 12 round; */
  background-color: var(--medium);
  filter: brightness(130%);
  
}

.speaker-picture{
  border-radius: 50%;
  filter: saturate(.5) opacity(.7);
  transition: filter .5s ease;

  
  image-rendering: pixelated;
  
  filter:invert(0%) sepia(93%) saturate(280%) hue-rotate(67deg) brightness(90%) contrast(87%) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='b' x='0' y='0'%3E%3CfeFlood x='4' y='4' height='2' width='2'/%3E%3CfeComposite width='4' height='4'/%3E%3CfeTile result='a'/%3E%3CfeComposite in='SourceGraphic' in2='a' operator='in'/%3E%3CfeMorphology operator='dilate' radius='1'/%3E%3C/filter%3E%3C/svg%3E#b");
}

a:hover .speaker-picture{
  border-radius: 50%;
  filter: invert(0) sepia(0) saturate(100%) hue-rotate(0) brightness(100%) saturate(1) opacity(1);
}